.commentContainer {
  margin-left: 5%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: #0A0C10;
  border-bottom: 1px solid #7A828E;
}

.commentContentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.commentContent {
  margin: 5px 0;
  padding: 15px 0;
  width: 90%;
  text-align: center;
  cursor: pointer;
}

.commentInfo {
  padding: 0px 10px;
  padding-left: 15%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.95rem;
}

.likesComments {
  width: 30%;
  display: flex;
  justify-content: space-around;
}

.likesComments p {
  cursor: pointer;
}

.containerIconLike,
.containerIconComment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: .3s;
}

.likeIcon,
.commentIcon {
  margin-right: 8px;
  padding: 5px;
  border-radius: 50%;
  transition: .2s;
}

.containerIconLike:hover .likeIcon,
.containerIconComment:hover .commentIcon {
  background-color: #ffffff18;
}

.likeIcon path,
.commentIcon path {
  transition: .2s;
}

.containerIconLike:hover .likeIcon path {
  fill: #DE1672;
}

.containerIconLike:hover {
  color: #DE1672;
}

.containerIconComment:hover .commentIcon path {
  fill: #1D9BF0;
}

.containerIconComment:hover {
  color: #1D9BF0;
}

@media only screen and (max-width: 600px) {
  .commentContentContainer strong {
    font-size: 0.9rem;
  }

  .commentContentContainer small {
    font-size: 0.8rem;
  }

  .likesComments {
    width: 45%;
  }

  .likeIcon,
  .commentIcon {
    margin-right: 5px;
  }
}