.bgContainer {
  margin: 0 8%;
}

.imageContainer {
  margin-top: -64px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.infoContainer {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.infoContainer strong {
  font-size: 1.3rem;
}

.infoContainer small {
  font-size: .92rem;
}

.profileInfoContainer {
  padding: 25px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #7A828E;
}

@media only screen and (max-width: 600px) {
  .bgContainer {
    margin: 0 3%;
  }
}