.postLoader {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  width: 40px;
  height: 40px;
  border-top: 3px solid #1A8CD8;
  border-right: 3px solid transparent;
  border-radius: 50%;
  animation: 0.7s spin cubic-bezier(0.85, 0.4, 0.56, 0.65) infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}