.postContainer {
  padding: 1rem;
  display: flex;
  background-color: #0A0C10;
  border-bottom: 1px solid #7A828E;
}

.postContentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postContent {
  padding: 10px 0;
  width: 90%;
  text-align: center;
  cursor: pointer;
}

.postInfo {
  margin-top: 5px;
  padding: 0px 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.likesComments {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.likesComments p {
  cursor: pointer;
}