.postContainer {
  padding: 1rem;
  display: flex;
  background-color: #0A0C10;
  border-bottom: 1px solid #7A828E;
}

.postContentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postContent {
  padding: 15px 0;
  width: 90%;
  text-align: center;
  cursor: pointer;
}

.postInfo {
  margin-top: 5px;
  padding: 0px 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.likesComments {
  width: 30%;
  display: flex;
  justify-content: space-around;
}

.likesComments p {
  cursor: pointer;
}

.containerIconLike,
.containerIconComment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: .3s;
}

.likeIcon,
.commentIcon {
  margin-right: 8px;
  padding: 5px;
  border-radius: 50%;
  transition: .2s;
}

.likeIcon path,
.commentIcon path {
  transition: .2s;
}

.containerIconLike:hover .likeIcon path {
  fill: #DE1672;
}

.containerIconLike:hover {
  color: #DE1672;
}

.containerIconComment:hover .commentIcon path {
  fill: #1D9BF0;
}

.containerIconComment:hover {
  color: #1D9BF0;
}